form {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse; /* Collapse borders */
  text-align: center; /* Align text to the left */
  border: 1px solid #ddd;
  border-radius: 20px;
}

th,
td {
  border: none;
}
th {
  padding: 1rem; /* Add some padding */

  background-color: #f5f4f6; /* Add a background color to the header */
  color: rgba(101, 101, 101, 0.964); /* Dark grey text for the header */
}
td {
  padding: 0.5rem;
}
tr:hover {
  background-color: #f5f5f5; /* Add a hover effect for rows */
}

#edit-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #f1f1f1;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.edit-dialog-content {
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
}

.hidden-column {
  display: none;
}
/* dialog.css */

.dialog {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.6); /* Black background with opacity */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Width can be adjusted based on requirement */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Adding some shadow for better UI */
  border-radius: 5px; /* Optional: for rounded corners */
}

/* The Close Button (x) */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Style adjustments for the form within the dialog */
.dialog form {
  display: flex;
  flex-direction: column;
}

.dialog label {
  margin-top: 10px;
}

.dialog input[type="email"],
.dialog input[type="text"],
.dialog input[type="password"],
.dialog select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dialog input[type="submit"],
.dialog .dialog-footer button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.dialog .dialog-footer {
  display: flex;
  justify-content: flex-end;
}

.dialog .dialog-footer button {
  background-color: #f44336; /* Red */
}
form {
  display: inline;
}

#edit-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #f1f1f1;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.edit-dialog-content {
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
}

.hidden-column {
  display: none;
}
/* Style for the form container */
.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
}

/* Style for form labels */
label {
  display: block;
  margin-top: 10px;
}

/* Style for form inputs */
input[type="email"],
input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style for error messages */
.error {
  color: red;
}

/* Style for the submit button */
button,
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Style for the submit button on hover */
input[type="submit"]:hover {
  background-color: #45a049;
}
pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin-right: 5px;
}

.page-link {
  text-decoration: none;
  background-color: #4caf50; /* Change this to the shade of green you prefer */
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.page-item.active .page-link {
  background-color: #45a049; /* Change this to a slightly different shade of green for the active page */
}

li {
  list-style: none;
}

main {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}
