@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  overflow: hidden;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  min-height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  overflow: auto;
}

th,
td {
  padding: 0.3rem;
  text-align: center;
}

td {
  padding: 2re;
  font-size: 0.9rem;
  color: #1e1e1e;
}

th {
  background-color: transparent;
  color: #1d1d1f;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
}

tbody {
  min-height: 100%;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
  align-items: center;
}

#searchForm {
  width: 60%;
  margin-right: 0.5rem;
}

#search {
  border: 1px solid #dfdedf;
  font-size: 1.1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  width: 100%;
}

#search::placeholder {
  color: #5f5f5f;
}

#search:focus {
  outline: 1px solid #848484;
}

.headbtn {
  display: flex;
  width: 20%;
  justify-content: flex-end;
  white-space: nowrap;
}

.headbtn select,
.headbtn button {
  border-radius: 0.3rem;
  border: none;
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  outline: none;
}

.headbtn select {
  background: #eeeeef;
  color: #040404;
  margin-right: 1rem;
}

#limit option {
  background-color: #a71515;
  color: #000;
}

.headbtn button {
  background: #12181c;
  color: #ffffff;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.icon {
  max-width: 2rem;
  max-height: 2rem;
}

.headbtn img {
  width: 0.8rem;
  height: 0.7rem;
  margin-left: 0.4rem;
}

.tableContainer {
  flex-grow: 1;
}

table button:nth-child(1) {
  background: #eeeeef;
  color: #040404;
  padding: 0.3rem 1rem;
  margin-right: 0.4rem;
}

table button {
  border-radius: 0.3rem;
  border: none;
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
  background: #12181c;
  color: #ffffff;
  cursor: pointer;
  display: inline;
  align-items: center;
  outline: none;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.pagination-container a {
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  border-radius: 0.4rem;
}

.pagination-container a:hover {
  background-color: #efefef;
}

.pagination-container .current-page {
  font-weight: 500;
  background: #12181c;
  color: #fff;
  border-radius: 0.4rem;
}

.pagination-container .current-page:hover {
  background: #12181c;
  color: #fff;
}

.paginationCont {
  margin-top: auto;
  margin-bottom: 1rem;
}

.searchCont {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog {
  border: none;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.error-container2,
.error-container {
  display: none;
  width: 100%;
  background: #ff9f9f41;
  padding: 1rem;
  text-align: center;
  color: rgb(219, 14, 14);
  border: 1px solid rgba(255, 0, 0, 0.769);
  margin-top: 5px;
}

.modal-content {
  background-color: #fff;
  min-width: 400px;
  padding: 20px;
  position: relative;
}
.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-top: 10px;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 0.5rem;
}

.modal-content button {
  background: #12181c;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

dialog .close {
  background: #12181c;
  color: #fff;
  padding: 0.3rem 0.8rem;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.modal-content button:hover {
  background-color: #323232;
}

.error-container2,
.error-container {
  display: none;
  color: red;
  margin-top: 5px;
}

/* Optional: Add some additional styling for better appearance */
.modal-content h2 {
  text-align: center;
}

.clearfix {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.clearfix .cancelbtn {
  margin-right: 0.5rem;
  background: #eeeeef;
  color: #12181c;
}

.clearfix .cancelbtn:hover {
  margin-right: 0.5rem;
  background: #d3d3d3;
  color: #12181c;
}

.modal-content h2 {
  margin-top: 1.5rem;
}

.modal-content p {
  text-align: center;
  margin-top: 0.5rem;
}

.modal-content select {
  border-radius: 0.5rem;
  background: #eeeeef;
  color: #040404;
  border: 1px solid #eeeeef;
  outline: none;
}

.passcont {
  border-radius: 0.5rem;
  border: 1px solid #848484;
  display: flex;
  align-items: center;
}

.passcont img {
  width: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  opacity: 0.7;
}

#edit-admin-password,
#edit-rso-password {
  border: none;
  margin: 0;
  outline: none;
}

.hide {
  display: none;
}

.modal-content input {
  border: 1px solid #848484;
}

dialog:-internal-dialog-in-top-layer::backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.429);
}

input:focus {
  outline: none;
}
