main {
  max-width: 1500px;
  margin: 0 auto;
  min-height: calc(100vh - 151px);
  display: flex;
  flex-direction: column;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.event-box {
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-content {
  padding: 10px;
  height: 100%;
  border-bottom: 1px solid #ccc;
  background: white;
}

.event-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.header {
  height: 150px;
  background-color: #ccc;
}

h2 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.836);
  text-transform: capitalize;
}

#date {
  display: flex;
  align-items: center;
}
#date img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.5rem;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}
#date img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.upcoming-event,
.ongoing-event,
.ended-event {
  padding: 0 10px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  font-weight: 500;
}

.upcoming-event {
  background-color: rgba(0, 0, 255, 0.767);
}

.ongoing-event {
  background-color: rgba(44, 177, 44, 0.707);
}

.ended-event {
  background-color: grey;
}

.events_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.events_button button {
  padding: 0.3rem 0.9rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #0c0c0d;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

#viewBtn {
  margin: 0 10px;
  background-color: #fcfdff;
  color: #000000d8;
  border: 1px solid #3b3b3da3;
}

#cancelbtn {
  background-color: #0c0c0dae;
}

dialog {
  padding: 20px;
  background-color: #fff;
  z-index: 1000;
}

.ended-event-box {
  opacity: 0.5;
}

.headerImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  background: #eceaea6c;
  margin-bottom: 1rem;
}

.headerImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-details-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.event-details-container h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.event-details-container p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.event-details-container h3 {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.event-details-container img {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.status {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
}

.status p {
  margin-bottom: 0;
  margin-right: 0.5rem;
  font-weight: 800;
}

.status span {
  text-transform: capitalize;
}

#details {
  line-height: 1.6;
}

.department {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
}

.department p {
  margin-bottom: 0;
  margin-right: 0.5rem;
  font-weight: 800;
  color: #000;
}

.details h3 {
  font-size: 2rem;
  font-weight: 700;
}

footer {
  margin-top: auto; /* Adjusted from margin-top: 2rem; */
  height: 5rem;
  background: rgba(255, 255, 255, 0.861);
  color: #000000;
  text-align: center;
  position: sticky;
  bottom: 0;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
}
.dat img {
  width: 1.3rem;
  height: 1.3rem;
  object-fit: cover;
  margin-right: 0.5rem;
}

.dat {
  display: flex;
  margin-bottom: 0.2rem;
}

.titl {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.footerCont {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}
#dtl {
  margin-top: 1rem;
}
#dtl h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

#dtl h3 {
  font-size: 1rem;
  font-weight: 500;
}
/* Add this to your existing styles or create a new CSS file */
.imageContainer {
  margin-top: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.image-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}
.attendees-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-top: 1rem;
}

.attendee-card {
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adding a smooth transition */
}

.attendee-card:hover {
  background-color: #f2f2f2; /* Change the background color on hover */
}

.attendee-card p {
  margin-top: 10px;
  font-weight: bold;
}

.attendee-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #000;
}
.event-details-nav {
  border-bottom: 1px solid #a8a8a8;
  padding: 10px 0;
}

.event-details-nav a {
  text-decoration: none;
  color: #4f4f4f;
  margin-right: 10px;
  font-size: 1.1rem;
}
.event-details-nav .active-link {
  font-weight: 700;
  color: #000000;
  /* Add any additional styling for the active link */
}

.toggle-section {
  display: none;
  /* Hide sections by default */
}

/* Additional styles for the active section */
.toggle-section.active-section {
  display: block;
}

img {
  max-width: 100%;
  height: 100%;
}

.profile-sec {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden; /* Ensure overflow is hidden to clip the overlay */
}

.profile-header {
  height: 50%;
  width: 100%;
}

.profile-header {
  background-color: #9b9b9b;
}
.new-div {
  width: 100%;
  height: 100%;
  /* Add styles for the new div */
  background-color: #e0e0e0; /* Example background color */
  padding: 20px;
  box-sizing: border-box; /* Include padding in the width */
}
.child-box {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
}

.profile-info {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.studinfo {
  height: 50%;
  width: 100%;
}

.info {
  height: 100%;
  margin-left: 1rem;
  display: flex;
  align-items: flex-end;
}
.profile-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#username {
  font-size: 2rem;

  font-weight: 700;
  color: #000;
}

#dept {
  font-size: 1rem;
  font-weight: 400;
  color: #464646;
}
.profile-info p {
  font-weight: 400;
}

.stud {
  font-size: 1.2rem;
  font-weight: 700;
}

.events-h {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  color: #000;
}
.full-screen-zoom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-screen-zoom img {
  max-width: 80%; /* Adjust the max-width as needed */
  max-height: 80vh; /* Adjust the max-height as needed */
}
.prev-button,
.next-button {
  background-color: transparent;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.prev-button {
  float: left;
  height: 100%;
}

.next-button {
  float: right;
  height: 100%;
}
.prev-button:hover,
.next-button:hover {
  color: #ffffffbe;
}
.profile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
}
.profile-overlay p {
  margin: 0;
  cursor: pointer;
  color: white;
}

.profile-image:hover + .profile-overlay,
.profile-overlay:hover {
  opacity: 1;
}

h1 {
  margin-top: 1rem;
}
