.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.event-box {
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 0.6rem;
}

.event-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-content {
  padding: 10px;
}

.event-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Number of lines to show before adding ellipsis */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  /* Allow word wrap within the specified number of lines */
}

.header {
  height: 150px;
  background-color: #ccc;
}

h2 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.836);
  text-transform: capitalize;
}

#date {
  display: flex;
  align-items: center;
}
#date img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.5rem;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}
#date img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.upcoming-event,
.ongoing-event,
.ended-event {
  padding: 0 10px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  font-weight: 500;
}

.upcoming-event {
  background-color: rgba(0, 0, 255, 0.767);
}

.ongoing-event {
  background-color: rgba(44, 177, 44, 0.707);
}

.ended-event {
  background-color: grey;
}

.events_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.events_button button {
  padding: 0.3rem 0.9rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #0c0c0d;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

#viewBtn {
  margin: 0 10px;
  background-color: #fcfdff;
  color: #000000d8;
  border: 1px solid #3b3b3da3;
}

#cancelbtn {
  background-color: #0c0c0dae;
}
