@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
h3 a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

/* Add your dropdown styles here */
h5 {
  padding: 12px 16px;

  font-weight: 300;
  border-bottom: 1px solid #f1f1f1;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Style for the profile image */
.profile-img {
  max-width: 50px;
  /* Adjust the size as needed */
  border-radius: 50%;
  cursor: pointer;
}

/* Style for the profile dropdown */
.profile-dropdown {
  border-radius: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  z-index: 1;
  width: 200px;
  text-align: left;
}

.profile-dropdown a {
  color: black;
  text-decoration: none;
  display: block;
  font-weight: 300;
  font-size: 0.9rem;
  padding: 12px 16px;
}

.profile-dropdown a:hover {
  background-color: #f1f1f1;
}
